services:
  mysql-server:
    platform: linux/x86_64
    image: mysql
    restart: always
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_USER: "test"
      MYSQL_PASSWORD: "test"
      MYSQL_DATABASE: "mlwarehouse"
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
    healthcheck:
      test: mysqladmin ping
      interval: 10s
      timeout: 5s
      retries: 10

  irods-server:
    container_name: irods-server
    image: "ghcr.io/wtsi-npg/ub-16.04-irods-4.2.7:latest"
    ports:
      - "127.0.0.1:1247:1247"
      - "127.0.0.1:20000-20199:20000-20199"
    restart: always
    healthcheck:
      test: [ "CMD", "nc", "-z", "-v", "localhost", "1247" ]
      start_period: 30s
      interval: 5s
      timeout: 10s
      retries: 12

  irods-clients:
    container_name: irods-clients
    image: "ghcr.io/wtsi-npg/ub-16.04-irods-clients-4.2.7:latest"
    volumes:
      - "${PWD}:${PWD}"
      - "${PWD}/tests/.irods:${HOME}/.irods/"
    environment:
      CLIENT_USER: "${USER:? ERROR: The USER environment variable is unset}"
      CLIENT_USER_ID: "${UID:? ERROR: The UID environment variable is unset}"
      CLIENT_USER_HOME: "${HOME}"
      IRODS_ENVIRONMENT_FILE: "${HOME}/.irods/irods_environment.json"
    command: sleep infinity
    depends_on:
      irods-server:
        condition: service_healthy
