cryptography==41.0.5
npg_id_generation@https://github.com/wtsi-npg/npg_id_generation/releases/download/4.0.1/npg_id_generation-4.0.1.tar.gz
partisan@https://github.com/wtsi-npg/partisan/releases/download/2.9.0/partisan-2.9.0.tar.gz
pymysql==1.1.0
python-dateutil==2.8.2
rich==13.6.0
setuptools-git-versioning==1.13.5
setuptools==68.2.2
sqlalchemy==2.0.22
structlog==23.2.0
